<?php

if ($this->isEnableCoupon()) :

    $couponData = $this->getCouponData();

    if (!empty($couponData)) : ?>
        <p><?php echo $this->__('Coupon : %s', $couponData['code']); ?></p>
        <?php if ($couponData['related']) : ?>
            <p>
                <?php echo $this->__('Related') ?> :
                <?php if (is_array($couponData['related'])) : ?>
                    <?php foreach ($couponData['related'] as $key => $related) : ?>
                        <a href="<?php echo $key; ?>"><?php echo $related; ?></a>
                    <?php endforeach; ?>
                <?php endif; ?>
            </p>
        <?php endif; ?>
        <?php if ($couponData['upsell']) : ?>
            <p><?php echo $this->__('UpSell') ?> :
                <?php if (is_array($couponData['upsell'])) : ?>
                    <?php foreach ($couponData['upsell'] as $key => $upsale) : ?>
                        <a href="<?php echo $key; ?>"><?php echo $upsale; ?></a>
                    <?php endforeach; ?>
                <?php endif; ?>
            </p>
        <?php endif; ?>
        <p><?php echo $this->__('Discount : %s', $couponData['discount']) ?>%</p>
    <?php endif; ?>
<?php endif; ?>
